In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_data = pd.read_csv('./kc_house_train_data.csv')
test_data = pd.read_csv('./kc_house_test_data.csv')

In [3]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17384 entries, 0 to 17383
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             17384 non-null  int64
 1   date           17384 non-null  object
 2   price          17384 non-null  float64
 3   bedrooms       17384 non-null  int64
 4   bathrooms      17384 non-null  float64
 5   sqft_living    17384 non-null  int64
 6   sqft_lot       17384 non-null  int64
 7   floors         17384 non-null  float64
 8   waterfront     17384 non-null  int64
 9   view           17384 non-null  int64
 10  condition      17384 non-null  int64
 11  grade          17384 non-null  int64
 12  sqft_above     17384 non-null  int64
 13  sqft_basement  17384 non-null  int64
 14  yr_built       17384 non-null  int64
 15  yr_renovated   17384 non-null  int64
 16  zipcode        17384 non-null  int64
 17  lat            17384 non-null  float64
 18  long           17384 non-null  float64
 19  sqft_living15  17384 non-null  int64
 20  sqft_lot15     17384 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 2.8+ MB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4229 entries, 0 to 4228
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4229 non-null   int64
 1   date           4229 non-null   object
 2   price          4229 non-null   float64
 3   bedrooms       4229 non-null   int64
 4   bathrooms      4229 non-null   float64
 5   sqft_living    4229 non-null   int64
 6   sqft_lot       4229 non-null   int64
 7   floors         4229 non-null   float64
 8   waterfront     4229 non-null   int64
 9   view           4229 non-null   int64
 10  condition      4229 non-null   int64
 11  grade          4229 non-null   int64
 12  sqft_above     4229 non-null   int64
 13  sqft_basement  4229 non-null   int64
 14  yr_built       4229 non-null   int64
 15  yr_renovated   4229 non-null   int64
 16  zipcode        4229 non-null   int64
 17  lat            4229 non-null   float64
 18  long           4229 non-null   float64
 19  sqft_living15  4229 non-null   int64
 20  sqft_lot15     4229 non-null   int64
dtypes: float64(5), int64(15), object(1)
memory usage: 693.9+ KB

In [6]:
X = train_data[['sqft_living']]
y = train_data[['price']]

In [7]:
from sklearn.linear_model import SGDRegressor

In [8]:
# from sklearn.model_selection import train_test_split

In [9]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 0)

In [10]:
X.shape

(17384, 1)

In [11]:
y.shape

(17384, 1)

In [12]:
model1 = SGDRegressor()

In [14]:
model1.fit(X, y)

/home/madhu/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [16]:
y_pred = model1.predict(X)

In [17]:
y_pred[0]

37455686959121.914

In [18]:
test_data['price'][0]   # actual output

310000.0